.contactForm{
    display: none;
    border: 6px solid #0065FC; 
    padding: 2em;
    max-width: 400px;
    min-height: 150px;
    text-align: center;
    background: #F2F2F2;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}
.contactForm input, .contactForm textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  display: block; 
  max-width: 280px; 
  padding: .4em;
}
.contactForm textarea { height: 100px; }

.formBtn { 
  max-width: 140px;
  display: inline-block;
  background: #0065FC;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
  border-radius: 15px;
}
/**************************************************Media Queries******************/
@media screen and (min-width:426px){
    .loupe{
        display: none !important;
    }
    .but{
        display: block !important;
    }
}
@media screen and (max-width:425px){
    .loupe{
        display: block;
    }
    h1{
        font-size: 1.2em;
    }
    .contactForm{
        position: fixed;
        top: 50%;
        left: 50%;
        display: grid;
        grid-template-columns: 90%;
        grid-template-areas: 
        "titrec"
        "asap"
        "send";
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: auto;
        padding: 5px;
    }
    .titrec{
        grid-area: titrec;
    }
    .asap{
        grid-area: asap;
        font-size: 0.6em;
    }
    .send{
        grid-area: send;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nom nom"
        "courriel courriel"
        "objet objet"
        "avis avis"
        "envoi reset";
    }
    .contactForm input, .contactForm textarea { 
        margin: 5px;
    }
    .nom{
        grid-area: nom;
    }
    .courriel{
        grid-area: courriel;
    }
    .objet{
        grid-area: objet;
    }
    .avis{
        grid-area: avis;
    }
    .envoi{
        grid-area: envoi;
    }
    .reset{
        grid-area: reset;
    }
}
